@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #00FFE6, #4CAF50);
  border-radius: 99px;
}

.primary-font { font-family: 'MADE Outer Sans'; }
.primary-font-alt { font-family: 'MADE Outer Sans Alt'; }
.terminus-font { font-family: 'Terminus (TTF)'; }
.notosan-font { font-family: 'Noto Sans'; }
.text-font { font-family: Arial, Helvetica, sans-serif; }
.stroke-text { color: transparent; -webkit-text-stroke: 1px #AAAAAA; }
.stroke-text-active { color: transparent; -webkit-text-stroke: 1px #00FFE6; }

.tracking-super-wide {
  letter-spacing: 0.95em;
}

.gradient-line {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}
.gradient-line-vertical {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}

.primary-bg { background-color: #000000; }
.secondary-bg { background-color: #3B3738; }
.accent-bg { background-color: #00FFE6; }

.animate-hoist-y { animation: hoist-y; animation-fill-mode: forwards; }
.animate-light-and-dark { animation: light-and-dark; animation-fill-mode: forwards; }
.animate-fade-right { animation: fade-right; animation-fill-mode: forwards; }
.animate-fade-left { animation: fade-left; animation-fill-mode: forwards; }
.animate-fade-up { animation: fade-up; animation-fill-mode: forwards; }
.animate-fade-down { animation: fade-down; animation-fill-mode: forwards; }
.animate-fade { animation: fade; animation-fill-mode: forwards; }
.animate-fade-left-top-slow { animation: fade-left-top-slow; animation-fill-mode: forwards; }
.animate-fade-left-top-fast { animation: fade-left-top-fast; animation-fill-mode: forwards; }
.animate-hoist-y { animation: hoist-y; animation-fill-mode: forwards; }
.animate-rotate-to-origin { animation: rotate-to-origin; animation-fill-mode: forwards; }
.animate-scale { animation: scale; animation-fill-mode: forwards; }
.animate-popup { animation: popup; animation-fill-mode: forwards; }
.animate-shrink { animation: shrink; animation-fill-mode: forwards; }
.animate-fade-small-up { animation: fade-small-up; animation-fill-mode: forwards; }
.animate-fade-small-right { animation: fade-small-right; animation-fill-mode: forwards; }
.animate-fade-small-left { animation: fade-small-left; animation-fill-mode: forwards; }
.animate-fade-center-up { animation: fade-center-up; animation-fill-mode: forwards; }

.animate-infinite { animation-iteration-count: infinite; }
.animate-timing-ease-in-out { animation-timing-function: ease-in-out; }

.animate-duration-25 { animation-duration: 0.25s; }
.animate-duration-50 { animation-duration: 0.5s; }
.animate-duration-75 { animation-duration: 0.75s; }
.animate-duration-100 { animation-duration: 1s; }
.animate-duration-200 { animation-duration: 2s; }
.animate-duration-300 { animation-duration: 3s; }
.animate-duration-400 { animation-duration: 4s; }
.animate-duration-500 { animation-duration: 5s; }


.animate-delay-100 { animation-delay: 0.1s; }
.animate-delay-200 { animation-delay: 0.2s; }
.animate-delay-300 { animation-delay: 0.3s; }
.animate-delay-400 { animation-delay: 0.4s; }
.animate-delay-500 { animation-delay: 0.5s; }
.animate-delay-600 { animation-delay: 0.6s; }
.animate-delay-700 { animation-delay: 0.7s; }
.animate-delay-800 { animation-delay: 0.8s; }
.animate-delay-900 { animation-delay: 0.9s; }
.animate-delay-1000 { animation-delay: 1s; }
.animate-delay-1500 { animation-delay: 1.5s; }
.animate-delay-2000 { animation-delay: 2s; }
.animate-delay-5000 { animation-delay: 5s; }


@keyframes hoist-y {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-16px); }
  100% { transform: translateY(0px); }
}

@keyframes light-and-dark {
  0% { color: #AAAAAA; }
  50% { color: #FFFFFF; text-shadow: 0 0 20px white }
  100% { color: #AAAAAA; }
}

@keyframes fade-right {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}

@keyframes fade-small-right {
  0% { transform: translateX(-24px); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

@keyframes fade-left {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}

@keyframes fade-small-left {
  0% { transform: translateX(24px); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

@keyframes fade-up {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

@keyframes fade-down {
  0% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

@keyframes fade-small-up {
  0% { transform: translateY(24px); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-left-top-slow {
  from { transform: translate(25%,25%); opacity: 0 }
  to { transform: translate(0,0); opacity: 1; }
}

@keyframes fade-left-top-fast {
  from { transform: translate(250%,200%); opacity: 0 }
  to { transform: translate(0,0); opacity: 1; }
}

@keyframes fade-center-up {
  0% { transform: translate(-50%,50%) scale(2); opacity: 0; }
  100% { transform: translate(-50%,0%); opacity: 1; }
}

@keyframes rotate-to-origin {
  from { transform: translate(0,0) rotateZ(0deg); opacity: 0 }
  to { opacity: 1 }
}

@keyframes scale {
  from { transform: scale(0) }
  to { transform: scale(1); opacity: 1; }
}

@keyframes shrink {
  from { transform: scale(1.5) }
  to { transform: scale(1); opacity: 1; }
}

@keyframes popup {
  0% { transform: translate(50%,-50%) scale(0) }
  15% { transform: translate(50%,-50%) scale(1.1) }
  35% { transform: translate(50%,-50%) scale(0.8) }
  60% { transform: translate(50%,-50%) scale(1.05) }
  100% { transform: translate(50%,-50%) scale(1); opacity: 1; }
}

@keyframes progress-anim {
  from { width: 100%; }
}